

<div class="Intro">
    <img
        src="https://cdn-icons-png.flaticon.com/512/1465/1465612.png"
        style height="200" width="200" alt="Anime">
    <h3 class="name">Programming</h3>
    <h1 id="title">
        <!-- Let me tell you about of anime characters. -->
    </h1>

    <h1>What is Angular?</h1>
    <p class="text">
        Angular is a platform and framework for building single-page client
        applications using HTML and TypeScript. Angular is written in
        TypeScript. It implements core and optional functionality as a set of
        TypeScript libraries that you import into your applications.
    </p>
    <h1>What is Flutter?</h1>
    <p class="text">Flutter is Google's portable UI toolkit for crafting
        beautiful, natively compiled applications for mobile, web, and
        desktop from a single codebase. Flutter works with existing code, is
        used by developers and organizations around the world, and is free
        and open source.</p>

    <h1>What is Backend?</h1>
    <p class="text">The back end refers to parts of a computer application
        or a program's code that allow it to operate and that cannot be
        accessed by a user. Most data and operating syntax are stored and
        accessed in the back end of a computer system. Typically the code is
        comprised of one or more programming languages.</p>

    <h1>What is HTML?</h1>
    <p class="text">
        HTML stands for Hyper Text Markup Language. HTML is the standard
        markup language for creating Web pages. HTML describes the structure
        of a Web page. HTML consists of a series of elements. HTML elements
        tell the browser how to display the content.</p>
</div>