<!-- <p>instructor works!</p> -->

<button (click)="goToAngularURL()">

    <div class="container-fluid" id="Menu">
        <h1 class="menu">
            Programming
        </h1>
        <div class="row">
            <div class="card">
                <div class="card-img-top1">
                    <img
                        src="https://angular.io/assets/images/logos/angularjs/AngularJS-Shield.svg"
                        style height="300" width="250" alt="Angular">
                </div>

                <button class="btn btn-primary">
                    Angular
                </button>
            </div>
            <div class="card">
                <div class="card-img-top1">
                    <img
                        src="https://user-images.githubusercontent.com/51419598/152648731-567997ec-ac1c-4a9c-a816-a1fb1882abbe.png"
                        style height="300" width="250" alt="Flutter">
                </div>

                <button class="btn btn-primary">
                    Flutter

                </button>
            </div>
            <div class="card">
                <div class="card-img-top1">
                    <img
                        src="https://img.icons8.com/nolan/512/backend-development.png"
                        style height="300" width="250" alt="Backend">
                </div>
                <button class="btn btn-primary">
                    Backend
                </button>
            </div>
            <div class="card">
                <div class="card-img-top1">
                    <img
                        src="https://cdn-icons-png.flaticon.com/512/1532/1532556.png"
                        style height="300" width="250" alt="HTML">
                </div>
                <button class="btn btn-primary">
                    HTML
                </button>
            </div>
        </div>
    </div>
    <!-- <button (click)="goToCourses()">
        Go To Courses(Nav)
    </button> -->
    <!-- <button (click)="goToCoursesURL()"> -->
    <!-- Go To Courses(URL) -->
</button>
