

<div class="Intro">
    <img
        src="https://i.pinimg.com/originals/8b/13/0e/8b130eb2f049eb108d4355e6b74adcb8.jpg"
        style height="200" width="200" alt="Anime">
    <h3 class="name">Legendary Animes</h3>
    <h1 id="title">
        L3T Me T3LL You @bout of <u class="anime">Anime Characters.</u>
    </h1>
    <h1>Uzumaki Naruto</h1>
    <p class="text">Naruto is a Japanese manga series written and illustrated by
        Masashi
        Kishimoto.
        It tells the story of Naruto Uzumaki, a young ninja who seeks
        recognition from his peers and dreams of becoming the Hokage, the leader
        of his village.</p>

    <h1>Monkey D. Luffy</h1>
    <p class="text">Luffy is the captain of the Straw Hat Pirates, and dreamt of
        being a
        pirate since childhood from the influence of his idol Red-Haired Shanks.
        At the age of 17, Luffy sets sail from the East Blue Sea to the Grand
        Line in search of the legendary treasure, One Piece, to succeed Gol D.
        Roger as "King of the Pirates".</p>

    <h1>Kurosaki Ichigo</h1>
    <p class="text">
        Ichigo Kurosaki is the main protagonist of the Bleach franchise. In the
        original series, he is a teenager with the ability to see spirits who
        gains the powers of a Shinigami from Rukia Kuchiki. He is a hybrid of
        Human, Soul Reaper, Quincy, and Hollow.
    </p>
    <h1>Son Goku</h1>
    <p class="text">Goku is introduced as an eccentric, monkey-tailed boy who
        practices
        martial arts and possesses superhuman strength. He meets Bulma and joins
        her on a journey to find the seven wish-granting Dragon Balls. Along the
        way, he finds new friends who follow him on his journey to become a
        stronger fighte</p>


</div>