<!-- <p>instructor works!</p> -->

<button (click)="goToAboutUsURL()">

    <div class="container-fluid" id="Menu">
        <h1 class="menu">
            Anime Main Characters
        </h1>
        <div class="row">
            <div class="card">
                <div class="card-img-top1">
                    <img
                        src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/f2ff254a-e653-4eaf-a60c-5dc4747aad6f/d5zdqkj-800d55e9-b7fb-4a12-bb82-2245e42a766c.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2YyZmYyNTRhLWU2NTMtNGVhZi1hNjBjLTVkYzQ3NDdhYWQ2ZlwvZDV6ZHFrai04MDBkNTVlOS1iN2ZiLTRhMTItYmI4Mi0yMjQ1ZTQyYTc2NmMucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.R2MH-FEJjXLSniUKxcKyHfmc34-5GpCf7vu3S8kHg5w"
                        style height="300" width="250" alt="Uzumaki Naruto">
                </div>
                <div class="card-title1">
                    Uzumaki Naruto

                </div>
                <div class="card-text">
                    Series Name
                </div>



                <button class="btn btn-primary">
                    Naruto Shipudden
                </button>
            </div>
            <div class="card">
                <div class="card-img-top1">
                    <img
                        src="https://i.pinimg.com/564x/c2/18/d7/c218d7b12675d2a3d4fdf6b57dd488ea.jpg"
                        style height="300" width="250" alt="Monkey D.Luffy">
                </div>
                <div class="card-title1">
                    Monkey D. Luffy

                </div>
                <div class="card-text">
                    Series Name
                </div>

                <button class="btn btn-primary">
                    One Piece
                </button>
            </div>
            <div class="card">
                <div class="card-img-top1">
                    <img
                        src="https://pbs.twimg.com/media/FP9QqzmX0AE__RE.jpg"
                        style height="300" width="250" alt="Ichigo">
                </div>
                <div class="card-title1">
                    Kurosaki Ichigo

                </div>
                <div class="card-text">
                    Series Name
                </div>
                <button class="btn btn-primary">
                    Bleach
                </button>
            </div>
            <div class="card">
                <div class="card-img-top1">
                    <img
                        src="https://i.pinimg.com/originals/11/7f/ee/117fee5d9d44f0fa0a203b8ab32bd73a.png"
                        style height="300" width="250" alt="Goku">
                </div>
                <div class="card-title1">
                    Son Goku

                </div>
                <div class="card-text">
                    Series Name
                </div>

                <button class="btn btn-primary">
                    Drangon Ball Z
                </button>
            </div>

        </div>
    </div>
    <!-- <button (click)="goToCourses()">
    Go To Courses(Nav)
</button> -->

    <!-- <button (click)="goToCoursesURL()"> -->
    <!-- Go To Courses(URL) -->
</button>
<script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous"></script>
