<!-- <p>home works!</p> -->
<!-- <button (click)="goToInstructor()" class="btn">
    Go To Instructor(Nav)
</button> -->

<div class="Intro">
    <img
        src="https://static.vecteezy.com/system/resources/previews/004/491/062/non_2x/programmer-working-concept-for-web-banner-man-work-with-code-and-programming-at-computer-creates-software-modern-person-scene-illustration-in-flat-cartoon-design-with-people-characters-vector.jpg"
        style height="300" width="300" alt="Anime">
    <h3 class="name">Hello!! I'm Zack.</h3>
    <h1 id="title">
        I'm a Programmer.
    </h1>

    <button (click)="goToInstructorURL()" class="btn">
        Go To Instructor(URL)
    </button>
    <button (click)="goToCoursesURL()" class="btn">
        Go To Courses(URL)
    </button>

    <!-- <div class="background-image">
    <img
        src="https://pbs.twimg.com/media/EirQQ-NXsAEgfkP.jpg">
</div> -->
<router-outlet></router-outlet>
